body{
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}
.contact{
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border: 1px solid #dbd8d8;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Hàng name + email */
.row{
    display: flex;
    gap: 20px;
}
.row input{
    flex: 1;
}
/* Input chung */
input, textarea{
    padding: 12px;
    border: 1px solid #dbd8d8;
    border-radius: 4px;
    font-size: 14px;
}
textarea{
    height: 200px;
    resize: none;
}
/* Hàng cuối */
.form-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-bottom p{
    color: gray;
    font-size: 14px;
}
button{
    background: #7fb3d5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background: #5da2cc;
}